@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --WarmRed:  #FA5959;
    --Purple: #5267DF;
    --DarkBlue: #242A45;
    --Gray: #9194A2;

}
body {
    margin: 0 auto;
    max-width: 377px;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    background-color: #fff;
}
.container {
    margin: 0 auto;
}
.header {
  background-color: #fff;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 40px 32px 0 32px;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* İsteğe bağlı olarak gölgelendirme ekleyebilirsiniz */
    z-index: 1000; /* İsteğe bağlı olarak z-index değerini ayarlayabilirsiniz */
}
.header-links {
  display: none;
}
/*HAMBURGER & MODAL MENU*/
.hamburger {
    position: absolute;
    right: 28px;
    cursor: pointer;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--DarkBlue);
  }
  .close-btn {
    font-size: 32px;
    color: #fff;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding-top: 50px; /* Header yüksekliği */
  }

  .hamburger.active + .modal {
    display: block;
    z-index: 999;
    background-color: var(--DarkBlue);
    opacity: 95%;
  } 
  .modal-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px 20px 32px;
  }
  .modal-bot {
    margin: 0 auto;
    width: 309px;
    display: flex;
    flex-direction: column;
  }
 .bot-links {
    padding: 24px 0;
    border-top: 1px solid var(--Gray);
 }
 .end {
    border-bottom: 1px solid var(--Gray);
 }
 .bot-links a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 17px; /* 85% */
    letter-spacing: 2.308px; 
 }
 .bot-button {
    background-color: var(--DarkBlue);
    border: 2px solid #fff;
    color: #fff;
    padding: 16px 120px;
    font-size: 20px;
    font-weight: 500;
    line-height: 17px; /* 85% */
    letter-spacing: 2.308px;
    margin-top: 40px;
    border-radius: 5px;
 }
 .social-media-modal {
    width: 88px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 214px;
    & img {
        width: 24px;
    }
 }
/*HAMBURGER & MODAL MENU BİTİŞ*/

/*MANAGER SECTION */
.manager-section {
  display: flex;
  flex-direction: column;
  margin-top: 137px;
  gap: 48px;
}
.top-manager {
  display: flex;
  justify-content: end;
}
.screen-1 {
  position: absolute;
  top: 140px;
  right: 32px;
  left: 2px;
}
.bot-manager {
  display: flex;
  flex-direction: column;
  padding-inline: 32px;
  gap: 16px;
  & h4 {
    color: var(--DarkBlue);
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px; /* 133.333% */
    letter-spacing: -0.094px; 
  }
  & p {
    color: var(--Gray);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px; /* 166.667% */ 
  }
}
.bot-manager-buttons {
  display: flex;
  justify-content: center;
  padding-inline: 32px;
  gap: 14px;
  & .chrome-btn {
    padding: 10px 16px;
    background-color: var(--Purple);
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 8px 8px -4px var(--DarkBlue);
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px; /* 200% */
    letter-spacing: 0.25px; 
    white-space: nowrap;
  }
  & .firefox-btn {
    padding: 10px 16px;
    box-shadow: 0px 8px 8px -4px var(--DarkBlue);
    border: 0;
    border-radius: 5px;
    background-color: #F7F7F7;
    color: var(--Gray);
    font-size: 14px;
    font-weight: 500;
    line-height: 28px; /* 200% */
    letter-spacing: 0.25px; 
    white-space: nowrap;
  }
}
/*MANAGER SECTION END*/

/*FEATURES SECTION*/
.features-section {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  padding-inline: 32px;
  & h4 {
    text-align: center;
    color: var(--DarkBlue);
    font-size: 24px;
    font-weight: 500;
    line-height: 52px; /* 216.667% */
    letter-spacing: -0.075px; 
  }
  & p {
    color: var(--DarkBlue);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    opacity: 0.5;
  }
}
/*FEATURES SECTINO END*/

/*SLIDER LINKS SECTION*/
.link-slider {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.slider-links {
  margin: 0 auto;
  width: 311px;
}
.red-stck {
  display: none;
  width: 143px;
  margin-left: 84px;
}
.title {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px; /* 106.25% */
  letter-spacing: 0.533px;
  color: var(--DarkBlue); 
  border-top: 1px solid var(--Gray);
  padding-block:  21px;
}
.title-end {
  border-bottom: 1px solid var(--Gray);;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.content-text {
  padding-inline: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  & h4 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 52px; /* 216.667% */
    letter-spacing: -0.075px; 
    color: var(--DarkBlue);
  }
  & p {
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */ 
    opacity: 0.5;
  }
}
.content-btn {
  margin-top: 15px;
  width: 114px;
  padding: 10px;
  background-color: var(--Purple);
  border: 0;
  color: #fff;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20); 
}
/*SLIDER LINKS END*/

/*EXTENSION SECTION*/
.extension-section {
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  padding-inline: 32px;
  gap: 40px;
}
.extension-text {
  & h4 {
    color: var(--DarkBlue);
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 52px; /* 216.667% */
    letter-spacing: -0.075px; 
  }
  & p {
    text-align: center;
    color: var(--DarkBlue);
    opacity: 0.5;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px; /* 166.667% */ 
  }
}
.extension-cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.browser-cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 280px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0px 10px 20px -5px var(--DarkBlue);
  padding: 49px 0px 24px 0px;
}
.cards-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.top-text {
  & h4 {
    color: var(--DarkBlue);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.25px; 
  }
  & p {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px; /* 186.667% */ 
    opacity: 0.5;
  }
}
.cards-bot {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  & button {
    width: 232px;
    padding: 10px 34px;
    border: 0;
    border-radius: 5px;
    background-color: var(--Purple);
    color: #fff;
    box-shadow: 0px 10px 20px -5px #9999; 
  }
}
.cards-top img {
  animation: rotate 3.5s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cards-bot img {
  animation: scroll 6s infinite linear;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
/*EXTENSION SECTION END*/

/*FAQ SECTION*/
.faq-section {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  padding-inline: 32px;
  gap: 64px;
  align-items: center;
}
.info-sec {
  display: flex;
  flex-direction: column;
  gap: 16px;
  & h3 {
    color: var(--DarkBlue);
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px; /* 125% */
    letter-spacing: -0.075px; 
  }
  & p {
    text-align: center;
    color: var(--DarkBlue);
    opacity: 0.5;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px; /* 166.667% */ 
  }
}
.accordion-section {
  width: 313px;
}
.acc-content {border-bottom: 1px solid var(--Gray);}
.question {
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.question h4 {
  color: var(--DarkBlue);
  font-size: 15px;
  font-weight: 400;
  line-height: 32px; /* 213.333% */ 
}
.answer {
  display: none;
}
.answer h5 {
  color: var(--DarkBlue);
  opacity: 0.75;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px; /* 200% */
  letter-spacing: 0.141px; 
}
.question::after {
  content: url('/assets/image/close-purple.svg'); /* Kapalıyken gösterilecek ikon */
}

.active .question::after {
  content: url('/assets/image/open-red.svg'); /* Açıkken gösterilecek ikon */
}
/*FAQ SECTION END*/

/* MAIL CHECK SECTION */
.mail-check-section {
  background-color: var(--Purple);
  margin-top: 123px;
}
.mail-check-content {
  display: flex;
  flex-direction: column;
  padding: 60px 32px 38px 32px;
  gap: 32px;
}
.check-top {
  & h5 {
    align-items: center;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 40px; /* 333.333% */
    letter-spacing: 4.615px; 
  }
  & h3 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.075px; 
  }
}
.check-bottom {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.mail-put {
  position: relative;
  background-color: #fff;
  display: flex;
  gap: 80px;
  display: flex;
  border-radius: 5px;
  padding: 10px 12px;
  & img {
    display: none;
  }
  & input {
    border: 0;
    background: transparent;
    width: 180px;
  }
}
.error-status {
  border-radius: 5px;
}
.error-message {
  color: #fff;
  font-size: 10px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.25px;
  padding-block: 4px;
  background-color: var(--WarmRed);
  display: none;

}
.mail-btn {
  border: 0;
  background-color: var(--WarmRed);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px; /* 200% */
  letter-spacing: 0.25px; 
  padding: 10px 78px;
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: 0px 8px 8px -4px var(--DarkBlue); 
}
/*MAIL VALIDATE SECTINO END*/

/*FOOTER SECTION*/
.footer {
  background-color: var(--DarkBlue);
}
.inner-footer {
  padding: 40px 113px 43px 113px;
  display: flex;
  flex-direction: column;
  gap: 49px;
}
.foot-top {
  display: flex;
  flex-direction: column;
  gap: 39px;
  justify-content: center;
}
.foot-links {
  display: flex;
  flex-direction: column;
  gap: 32px;
  & a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px; /* 113.333% */
    letter-spacing: 1.731px; 
  }
}
.foot-bot {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  & img {
    width: 28px;
  }
}
/*footer end*/